html {
  overflow: hidden !important;
}

.iconify {
  color: var(--icon-color);
}

.sub-title {
  margin-bottom: 8px;
  color: var(--sub-title-color);
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
}
  
.fade-mask--bottom {
  -webkit-mask: linear-gradient(to top, transparent 0%, black var(--fade-mask-bottom, 10%));
  mask: linear-gradient(to top, transparent 0%, black var(--fade-mask-bottom, 10%));
}