html {
  overflow: hidden !important;
}

.iconify {
  color: hsl(var(--foreground) / 50%);
}

.sub-title {
  margin-bottom: 8px;
  color: rgb(117 117 117 / 100%);
  font-size: 14px;
  text-transform: uppercase;
  user-select: none;
}
  