@keyframes fade-in-slide-up {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes scale-in {
  from {transform: scale(0.95)}
  to {transform: scale(1)}
}

@keyframes scale-120-percent-to-initial {
  from {transform: scale(1.2)}
  to {transform: scale(1)}
}

.fade-in-slide-up-500ms {
  animation: fade-in-slide-up 500ms;
}

.fade-in-200ms {
  animation: fade-in 200ms;
}

.fade-in-500ms {
  animation: fade-in 500ms;
}

.fade-in-1s {
  animation: fade-in 1s;
}

.fade-in-2s {
  animation: fade-in 2s;
}

.fade-scale-in-500ms {
  animation: fade-in 500ms, scale-in 500ms;
}

.fade-in-2s-scale-in-500ms {
  animation: fade-in 2s, scale-in 500ms;
}

.fade-in-2000ms-scale-120-percent-to-initial-2000ms {
  animation: fade-in 2000ms, scale-120-percent-to-initial 2000ms;
}

.context-menu-transition-enter-active {
  transition: all 0.2s ease;
}

.context-menu-transition-leave-active {
  transition: all 0s;
}

.context-menu-transition-enter,
.context-menu-transition-leave-to {
  opacity: 0;
  transform:
    scale(0.1)
    /* Prevent tooltip showing up during animation*/
    translateX(16px);
}

.context-sub-menu-transition-enter-active {
  transition: all 0.2s ease;
}

.context-sub-menu-transition-leave-active {
  transition: all 0.2s ease;
}

.context-sub-menu-transition-enter {
  transform: translateX(20px);
  opacity: 0;
}

.context-sub-menu-transition-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.context-sub-menu-transition-reversed-enter-active {
  transition: all 0.2s ease;
}

.context-sub-menu-transition-reversed-leave-active {
  transition: all 0.2s ease;
}

.context-sub-menu-transition-reversed-enter {
  transform: translateX(-20px);
  opacity: 0;
}

.context-sub-menu-transition-reversed-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.fade-in-enter-active {
  transition: all 0.2s ease;
}

.fade-in-leave-active {
  transition: all 0.2s ease;
}

.fade-in-enter,
.fade-in-leave-to {
  transition: all 0.2s ease;
  opacity: 0;
}

.fade-in-1s-enter-active {
  transition: all 1s ease;
}

.fade-in-1s-leave-active {
  transition: all 1s ease;
}

.fade-in-1s-enter,
.fade-in-1s-leave-to {
  opacity: 0;
}

.slide-fade-left-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-left-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-left-enter,
.slide-fade-left-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.group-fade-in-enter-active,
.group-fade-in-leave-active {
  transition: all 0.5s;
}

.group-fade-in-enter,
.group-fade-in-leave-to {
  position: absolute;
  opacity: 0;
}

.group-slide-fade-left-enter-active,
.group-slide-fade-left-leave-active {
  transition: all 0.5s;
}

.group-slide-fade-left-enter,
.group-slide-fade-left-leave-to {
  position: absolute;
  transform: translateX(-10px);
  opacity: 0;
}

.slide-fade-up-enter-active,
.slide-fade-up-leave-active {
  transition: all 1.5s;
}

.slide-fade-up-enter,
.slide-fade-up-leave-to {
  transition: all 1.5s;
  transform: translateY(16px);
  opacity: 0;
}

.slide-fade-up-300ms-enter-active,
.slide-fade-up-300ms-leave-active {
  transition: all 0.3s;
}

.slide-fade-up-300ms-enter,
.slide-fade-up-300ms-leave-to {
  transition: all 0.3s;
  transform: translateY(16px);
  opacity: 0;
}

.slide-fade-down-500ms-enter-active,
.slide-fade-down-500ms-leave-active {
  transition: all 0.5s;
}

.slide-fade-down-500ms-enter,
.slide-fade-down-500ms-leave-to {
  transition: all 0.5s;
  transform: translateY(-16px);
  opacity: 0;
}

.slide-fade-down-300ms-enter-active,
.slide-fade-down-300ms-leave-active {
  transition: all 0.3s;
}

.slide-fade-down-300ms-enter,
.slide-fade-down-300ms-leave-to {
  transition: all 0.3s;
  transform: translateY(-36px);
  opacity: 0;
}

.overlay--item-drag__transition-enter-active {
  /* Remove enter animation to
  prevent position change lag */
  transition: all 0s;
}

.overlay--item-drag__transition-leave-active {
  transition: all 0.3s;
}

.overlay--item-drag__transition-enter {
  transition: all 0.3s ease;
  transform: scale(0.6);
  opacity: 0;
}

.overlay--item-drag__transition-leave-to {
  transition: all 0.3s ease;
  transform: scale(0.6) translateX(-64px) translateY(-32px);
  opacity: 0;
}