.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.unselectable {
  user-select: none;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.is-hidden {
  display: none !important;
}
