@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
}