.custom-divider {
  width: 100%;
  padding: 18px 0;
  border-width: thin;
  border-color: var(--highlight-color-2);
  border-top: 1px solid;
}

.custom-divider[vertical] {
  width: 2px;
  height: 20px;
  margin: 0 4px;
  background-color: var(--highlight-color-2);
}

/* Note: this method doesn't break alignment inside grid */
.truncate-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Note: this method breaks alignment inside grid */
.line-clamp-1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.fade-mask--top-and-bottom {
  -webkit-mask: linear-gradient(180deg, #FFFFFF 85%,transparent);
  mask: linear-gradient(transparent, black 10%, black 90%, transparent 100%);
}

.fade-mask--top {
  -webkit-mask: linear-gradient(180deg, #FFFFFF 85%,transparent);
  mask: linear-gradient(to bottom, transparent 0%, black var(--fade-mask-top));
}

.fade-mask--bottom {
  -webkit-mask: linear-gradient(to top, transparent 0%, black var(--fade-mask-bottom, 10%));
  mask: linear-gradient(to top, transparent 0%, black var(--fade-mask-bottom, 10%));
}

.code-inline {
  padding: 3px 6px;
  border-radius: 4px;
  background: hsl(var(--primary) / 5%);
}

.code-block {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgb(0 0 0 / 20%);
  overflow-y: auto;
}
