#app 
  .v-application {
    background: var(--bg-color);
    color: var(--color);
    transition:
      color 400ms ease,
      background-color 400ms ease;
  }

.v-tooltip
  .v-overlay__content {
    background: rgb(41 43 51 / 95%);
    box-shadow: 0 8px 32px rgb(0 0 0 / 50%);
    color: var(--color);
    user-select: none;
  }

.v-btn__content {
  color: var(--icon-color);
}

.v-btn--size-x-small {
  --v-btn-height: 12px;
}

.v-btn--size-small {
  --v-btn-height: 16px;
}