.os-theme-dark 
  .os-scrollbar-handle {
    border-radius: 0;
    margin-right: 8px;
    background: var(--scrollbar-color);
  }

.os-theme-dark.os-scrollbar-vertical 
  .os-scrollbar-handle:hover {
    width: 12px;
    background: var(--scrollbar-color-lighter-1);
  }

.os-theme-dark.os-scrollbar-vertical 
  .os-scrollbar-handle:active {
    width: 16px;
    background: var(--scrollbar-color-lighter-2);
  }

.os-theme-dark.os-scrollbar-horizontal 
  .os-scrollbar-handle:hover {
    height: 12px;
    background: var(--scrollbar-color-lighter-1);
  }

.os-theme-dark.os-scrollbar-horizontal 
  .os-scrollbar-handle:active {
    height: 16px;
    background: var(--scrollbar-color-lighter-2);
  }

.os-theme-dark.os-theme-dark--lighten
  .os-scrollbar-handle {
    background: var(--scrollbar-color-lighter-1);
  }

.os-theme-dark.os-theme-dark--lighten-2
  .os-scrollbar-handle {
    background: var(--scrollbar-color-lighter-2);
  }
