@layer base {
  :root {
    /* Mods */
    --radius: 0.75rem;

    /* Sizes */
    --nav-sidebar-width: 48px;
    --window-toolbar-height: 32px;
    --action-toolbar-height: 42px;
    --workspace-toolbar-height: 48px;
    --info-panel-width-value: 280;
    --info-panel-width: calc(var(--info-panel-width-value) * 1px);
    --info-panel-preview-height: 158px;
    --info-panel-header-height: 32px;
    --info-panel-sub-header-height: 16px;
    --info-panel-properties-header-height: 36px;
    --navigator-sorting-header-height: 36px;
    --tab-height: calc(var(--window-toolbar-height) - 4px);
    --control-button-width: 46px;
    --dir-entry-transition: all 0.3s ease-in-out;

    /* Colors */
    --grey-50: #fafafa;
    --grey-100: #f4f4f5;
    --grey-200: #e4e4e7;
    --grey-300: #d4d4d8;
    --grey-400: #a1a1aa;
    --grey-500: #71717a;
    --grey-600: #52525b;
    --grey-700: #3f3f46;
    --grey-800: #27272a;
    --grey-900: #18181b;
    --grey-950: #09090b;
  }

  .light {
    --light: 0 0% 100%;
    --dark: 0 0% 0%;
    --background: 0 0% 100%;
    --background-lighten: hsl(from hsl(var(--background)) h s calc(l + 2%));
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 189, 83%, 32%;
    --primary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
  }

  .dark {
    /* 
    --tab-color: var(--color);
    --tab-color-active: var(--color);
    --tab-bg-color: var(--window-toolbar-bg-color);
    --tab-bg-color-active: var(--window-toolbar-bg-color);
    --tab-bg-color-hover: rgb(var(--light-value) / 6%);
    --tab-close-button-color: var(--window-toolbar-bg-color);
    --tab-border-color: rgb(var(--light-value) / 10%); 
    */
    --light: 0 0% 100%;
    --dark: 0 0% 0%;
    --background: 225 12% 15.7%;
    --background-lighten: hsl(from hsl(var(--background)) h s calc(l + 2%));
    --foreground: 210 10% 80%;
    --card: 222.2 84% 4.9%;
    --primary: 189, 83%, 32%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}